{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div>
        <h3>Rejestracja</h3>
    </div>
    <div>
        <form method="post" action="">
            {% csrf_token %}
            <div>
            Nazwa użytkownika
            </div>
            <div>
            {{form.username}}
            </div>
            <div>
            E-mail
            </div>
            <div>
            {{form.email}}
            </div>
            <div>
            Hasło
            </div> 
            <div>
            {{form.password1}}
            </div>
            <div>
            Powtórz hasło
            </div> 
            <div>
            {{form.password2}}
            </div>

            {{form.errors}}
            
            <input type="submit" value="Zarejestruj">
        </form>
    </div>

{% endblock content %}